*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 800;
}

     .home{
        text-align: center;
    }
  

.img-1{
    text-align: center;
}
.img-2{
    text-align: center;
}
.img-3{
    text-align: end;
}

  .contact{
    text-align: center;
  }
  .card{
    margin-bottom: 60px;
    height: 30px;
    border: #000 solid 1px;
    width: 80%;
    justify-content: center;
    align-items: center;

  }
  .myabout{
    text-align: center;
  }
  .navbar{
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;

  }
  
 
     